<footer class="main-footer">
	<div class="pull-right hidden-xs">
		<b>Version</b> 2.4.0
	</div>
	<strong>Copyright &copy; 2014-2016 <a
		href="https://www.iele.co">Almsaeed Studio</a>.
	</strong> All rights reserved.
</footer>
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Tab panes -->
        <div class="tab-content" id="control-sidebar-tab-content">
        </div>
    </aside>
    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->
<!-- AdminLTE App -->
<script type="text/javascript" src="${request.contextPath}/statics/plugins/layer/layer.js"></script>
<script type="text/javascript" src="${request.contextPath}/statics/libs/vue.min.js"></script>
<script type="text/javascript" src="${request.contextPath}/statics/libs/router.js"></script>
<script type="text/javascript" src="${request.contextPath}/statics/js/config.js"></script>
<script type="text/javascript" src="${request.contextPath}/statics/js/menu.js"></script>
