<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
    <#include "/head.html">
</head>
<body style="background-color: transparent;">
<div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>150</h3>

              <p>New Orders</p>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>53<sup style="font-size: 20px">%</sup></h3>

              <p>Bounce Rate</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>44</h3>

              <p>User Registrations</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>65</h3>
              <p>Unique Visitors</p>
            </div>
            <div class="icon">
              <i class="ion ion-pie-graph"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
      </div>
<div class="row">
<div class="col-md-8">
    <div class="box box-info">
        <div class="box box-solid">
            <div class="box-header with-border">
                <i class="fa fa-text-width"></i>
                <h3 class="box-title">Clownmask</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <blockquote style="margin: 0px">
                    <p>简单友好的快速开发框架.</p>
                    <small>有帮助的话给个星星吧:<a target="_blank" href="https://github.com/Mr-han/clownmask">https://github.com/Mr-han/clownmask</a></small>
                </blockquote>
                <a target="_blank" href="https://github.com/Mr-han/clownmask">
                <img src="${request.contextPath}/statics/img/clownmask-re.png" style="width: 100%"/>
                </a>
            </div>
            <!-- /.box-body -->
        </div>
            <!-- /.box-body -->
    </div>
</div>
<div class="col-md-4">
          <!-- Widget: user widget style 1 -->
          <div class="box box-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-black" style="background: url('${request.contextPath}/statics/img/photo1.png') center center;">
              <h3 class="widget-user-username">Elizabeth Pierce</h3>
              <h5 class="widget-user-desc">Web Designer</h5>
            </div>
            <div class="widget-user-image">
              <img class="img-circle" src="${request.contextPath}/statics/img/clownmask.jpg" alt="User Avatar">
            </div>
            <div class="box-footer">
              <div class="row">
                <div class="col-sm-4 border-right">
                  <div class="description-block">
                    <h5 class="description-header">3,200</h5>
                    <span class="description-text">余额</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4 border-right">
                  <div class="description-block">
                    <h5 class="description-header">13,000</h5>
                    <span class="description-text">会员数</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4">
                  <div class="description-block">
                    <h5 class="description-header">35</h5>
                    <span class="description-text">有效期</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
              <div class="box-body">
                  <dl>
                      <dt>联系我</dt>
                      <dd>hanchaoqun@hotmail.com</dd>
                      <dt>Github</dt>
                      <dd><a target="_blank" href="https://github.com/Mr-han">https://github.com/Mr-han</a></dd>
                      <dt>License</dt>
                      <dd><a target="_blank" href="https://github.com/Mr-han/clownmask/blob/master/LICENSE">MIT</a></dd>
                  </dl>
              </div>
          </div>
          <!-- /.widget-user -->
        </div>
</div>
<script type="text/javascript">
// SLIMSCROLL FOR CHAT WIDGET
$('#chat-box').slimScroll({
  height: '300px'
});
</script>
</body>
</html>