<!DOCTYPE html>
<html>
<head>
<title>Registration Page</title>
<#include "/head.html">
</head>
<body class="hold-transition register-page">
	<div class="register-box" id="rrapp" v-cloak>
		<div class="register-logo">
			<a href="#"><b>Admin</b>CM</a>
		</div>
		<div class="register-box-body">
			<p class="login-box-msg">Register a new membership</p>
			<div v-if="error" class="alert alert-danger alert-dismissible">
	        <h4 style="margin-bottom: 0px;"><i class="fa fa-exclamation-triangle"></i> {{errorMsg}}</h4>
	      	</div>
			<div class="form-group has-feedback">
				<input type="text" class="form-control" v-model="re.companyName" placeholder="联系人"> <span
					class="glyphicon glyphicon-user form-control-feedback"></span>
			</div>
			<div class="form-group has-feedback">
				<input type="text" class="form-control" v-model="re.contactName" placeholder="公司名称">
				<span class="glyphicon glyphicon-tower form-control-feedback"></span>
			</div>
			<div class="form-group has-feedback">
				<input type="text" class="form-control" v-model="re.username" placeholder="登陆名">
				<span class="glyphicon glyphicon-user form-control-feedback"></span>
			</div>
			<div class="form-group has-feedback">
				<input type="password" class="form-control" v-model="re.password" placeholder="密码">
				<span class="glyphicon glyphicon-lock form-control-feedback"></span>
			</div>
			<div class="form-group has-feedback">
				<input type="password" class="form-control" v-model="re.confirmPassword" placeholder="确认密码">
				<span class="glyphicon glyphicon-lock form-control-feedback"></span>
			</div>
			<div class="form-group has-feedback">
				<input type="email" class="form-control" v-model="re.email"
					placeholder="邮箱"> <span
					class="glyphicon glyphicon-phone-alt form-control-feedback"></span>
			</div>
			<div class="form-group has-feedback">
		        <input type="text" class="form-control" v-model="re.captcha" placeholder="验证码" data-lang="placeholder:msg_captcha">
		        <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
		      </div>
			<div class="form-group has-feedback">
				<img alt="如果看不清楚，请单击图片刷新！" class="pointer" :src="src"
					@click="refreshCode"> &nbsp;&nbsp;&nbsp;&nbsp;<a
					href="javascript:;" @click="refreshCode"
					data-lang="val:msg_refreshCode">点击刷新</a>
			</div>
			<div class="row">
				<div class="col-xs-8">
					<div class="checkbox icheck">
						<label> <input type="checkbox"> I agree to the <a
							href="#">terms</a>
						</label>
					</div>
				</div>
				<!-- /.col -->
				<div class="col-xs-4">
					<button type="submit" class="btn btn-primary btn-block" @click="register">Register</button>
				</div>
				<!-- /.col -->
			</div>
			<div class="social-auth-links text-center">
      			<p>- OR -</p>
				<a href="login.html" class="btn btn-block bg-olive">已经有账号，去登陆</a>
			</div>
		</div>
		<!-- /.form-box -->
	</div>
	<!-- /.register-box -->
	<script>
		$(function() {
			$('input').iCheck({
				checkboxClass : 'icheckbox_square-blue',
				radioClass : 'iradio_square-blue',
				increaseArea : '20%' // optional
			});
		});
		var vm = new Vue({
			el : '#rrapp',
			data : {
				re:{
					username : '',
					password : '',
					confirmPassword:'',
					companyName:'',
					contactName:'',
					email:'',
					rememberMe : false,
					captcha : ''
				},
				error : false,
				errorMsg : '',
				src : 'captcha.jpg'
			},
			beforeCreate : function() {
				if (self != top) {
					top.location.href = self.location.href;
				}
			},
			methods : {
				refreshCode : function() {
					this.src = baseURL + "captcha.jpg?t=" + $.now();
				},
				register : function(event) {
					$.ajax({
						type : "POST",
						url : baseURL + "/sys/register",
						data : JSON.stringify(vm.re),
						contentType : "application/json",
						success : function(result) {
							if (result.code == 0) {//注册成功
								layer.msg(result.msg+";请等待2秒跳转登陆！", {
									icon: 1,//提示的样式
									time: 2000, //2秒关闭（如果不配置，默认是3秒）//设置后不需要自己写定时关闭了，单位是毫秒
									end:function(){location.href='login.html';}
								});  
							} else {
								vm.error = true;
								vm.errorMsg = result.msg;
								vm.refreshCode();
							}
						}
					});
				}
			}
		});
	</script>
</body>
</html>
