.box .grid-btn {
	margin-bottom: 10px;
}

.grid-btn:first-child .form-group {
	margin-left: -15px;
}

.form-horizontal {
	padding-top: 15px;
}

.upload-item .upload-file i {
	line-height: 100px;
	color: #ccc;
	font-size: 70px;
}

.upload-file {
	max-height: 100px;
	height: 100px;
	text-align: center;
}

.form-group {
	margin-right: 0px !important;
}

.iele-article .control-label {
    text-align: left !important;
    padding-top: 7px;
}
.iele-article .label-four {
    width: 80px;
    float: left;
}
.iele-article .ml80 {
    margin-left: 95px;
}
.iele-article .pl0 {
    padding-left: 0px;
    padding-right: 0px;
}
.iele-article .col-xs-12{
	padding-right: 0px;
}
.iele-article .col-sm-4{
	padding-right: 0px;
}
.iele-article .btn-app{
	margin: 0px;
}

.iele-article .article-extra {
    padding-left: 20px;
}
.iradio_flat-green {
	margin-right: 5px;
}